__pycache__/
.ipynb_checkpoints
.Python
*.so
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

tmp/
vis/
vis*/
log/
log*/
.log*
*.npy
*.json
*.tar
*.out
*.pkl
*.pth
*.params

*.ply
*.ipynb

data/semantickitti/

tiny-cuda-nn/

*.tar.gz

*.DS_Store
.vscode/
configs/

model/SalsaNext